<div class="col-md-4 mt20">
        <div class="post-img">
           {% if page.img %}
            <img width="600" src="{{site.baseurl}}/images/{{page.img}}" alt="{{page.title}}">
            {% else %}
                {% if page.url == "/about/" %}
                <img width="600" src="{{site.baseurl}}/images/myphoto.jpg" alt="">
                {% else %}
                <img width="600" src="{{site.baseurl}}/images/{{site.default-image}}" alt="">
                {% endif %}
            {% endif %}
        </div>
        
        <div class="mt10 recent text-center">
            {% if page.url == "/about/" %}
            <h5>고와도 내 코드 미워도 내 코드</h5>
            {% else %}
            <h2>Recent articles</h2>
            {% endif %}
             <ul>
                {% for post in site.related_posts limit:3 %}
                      <li>
                        <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><small>&nbsp;&nbsp;{{ post.date | date_to_string }}</small></p>
                      </li>
                {% endfor %}
              </ul>
        </div>
        {% if site.fb-like-box %}
        <div class="mt10">
            <div class="fb-page" data-href="https://www.facebook.com/Arthur-developer-1573153896163865/" data-width="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Arthur-developer-1573153896163865/" class="fb-xfbml-parse-ignore"><a href="{{site.fb-page-url}}">{{site.fb-page-title}}</a></blockquote></div>
        </div>
        {% endif %}
        <br>
</div>