---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div class="container">
    <div class="wrapper">
    {{ content }}
    </div>
</div>

{% include footer.html %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/js/snowfall.js"></script>
{% if site.analytics %}{% include analytics.html %}{% endif %}

<script>
    $( document ).ready(function() {
        /* 내림효과 (flake_spring(벗꽃잎), flake(눈)) */
        snowFall.snow(document.body, {image :"{{site.baseurl}}/images/flake.png", minSize: 5, maxSize:15, maxSpeed:3, flakeCount:10});
    });
</script>

</body>

</html>
